<body style="background-color:#3498DB;">
<h1>Welcome to our Football Ticket Site</h1>
<p>
<h2><%= link_to "These are the current Fixtures", fixtures_path %></h2>
</p>

<p>
<h3><%= link_to "New User? Please Register here", new_user_path %></h3>

</p>

</body>